.rateStar__wrapper{
    display: flex;
    gap: 4px;

    .rateStar__img{
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 576px) {

    .rateStar__wrapper .rateStar__img{
        width: 20px;
        height: 20px;
    }

}
