.home__content {
    width: 100%;

        .cards__w {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px;
            margin-bottom: 40px;
        }
    }

@media (width < 767px) {
    .home__content {
        .cards__w {
            grid-template-columns: repeat(1, 1fr);
        }
    }    
}
    