.header {
    margin: 40px 0px;

    .header__row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header__logo { 
            display: inline-block;
            width: 120px; 
        }

        .header__nav {

            .header__burger-icon {
                display: none;
                font-size: 30px;
                color: var(--primary-color);
            }

            .header__nav-list {
                display: flex;
                gap: 40px;

                .header__nav-item {
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 24px;
                    color: var(--primary-color);
            
                    &:hover {
                        text-decoration: underline;
                    }
            
                    &.active {
                        text-decoration: underline;
                    }
                }
            }
        } 
    }
}

@media (max-width: 768px) {
    .header {

        .header__row {
    
            .header__nav {

                .header__burger-icon {
                    display: block;
                }
    
                .header__nav-list {
                    display: none;
                }
            }
        }

        .modal__nav-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;

            .modal__nav-item {
                text-decoration: none;
                font-weight: 500;
                font-size: 24px;
                color: var(--primary-color);
            }
        }
    }
}

@media (max-width: 576px) {

    .header .header__row .header__logo { 
        width: 100px;
    }
}