.row-rentalinfo{
    margin: 30px 100px;
}

.w-title-tags-host-rating{
    display: flex;
    padding: 20px 0px;
}

.row-title-tags{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    gap: 15px;
}

.w-title{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
}

.lodging-title{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 36px;
}

.lodging-location{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
}

.w-tags{
    display: flex;
}

.tagsList{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.tags{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-radius: 10px;
    min-width: 115px;
    color: #F6F6F6;
}

.row-host-rating{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
}

.w-host{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.host-name{
    width : min-content;
    text-align: right
}

.host-name{
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
}

.host-picture{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    object-fit: cover;
}

.w-rating{
    gap: 10px;
}

.row-description-facilities{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 96px;
}

.w-description{
    flex: 1;
}

.w-facilities{
    list-style-type: none;
    padding: 0;
    flex: 1;
}

@media(width < 768px){

    .row-rentalinfo{
        margin: 20px 20px;
    }

    .w-title-tags-host-rating{
        flex-direction: column;
    }
    
    .lodging-title{
        font-size: 18px;
    }

    .lodging-location{
        font-size: 14px;
    }

    .tags{
        font-size: 10px;
    }

    .row-host-rating{
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 10px;
    }

    .host-name{
        font-size: 12px;
    }

    .host-picture{
        width: 32px;
        height: 32px;
    }
    .row-description-facilities{
        flex-direction: column;
        gap: 0px;
    }

    .collapseTitle{
        font-size: 18px;
    }

    .toggleParagraph{
        font-size: 18px;
    }
}
