.rental-info__container {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 1fr; 
    justify-content: space-between;
    margin-bottom: 40px;

    .rental-info__title-tags {
        display: grid;
        grid-template-columns: 2fr;

        .rental-info__title-wrapper {
            display: flex;
            flex-direction: column;
            color: var(--primary-color);
            margin-bottom: 20px;
            
            .rental-info__title {
                font-family: 'Montserrat';
                font-size: 36px;
                font-weight: 500;
            }

            .rental-info__location {
                font-family: 'Montserrat';
                font-size: 18px;
                font-weight: 500;
            }
        }

        .rental-info__tags-wrapper {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
                
            .rental-info__tags {
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 500;
                padding: 5px 15px;
                border-radius: 10px;
                background-color: var(--primary-color);
                color: var(--secondary-color);
            }
        }
    }

    .rental-info__host-rating {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: end;

        .rental-info__host-wrapper {
            display: flex;
            gap: 20px;

            .rental-info__host-name {
                width : min-content;
                text-align: right;
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 18px;
                color: var(--primary-color);
            }

            .rental-info__host-picture {
                width: 64px;
                height: 64px;
                border-radius: 100%;
                object-fit: cover;
            }
        }
    }
}


@media (max-width: 768px) {
    .rental-info__container {
        grid-template-columns: 1fr; 
        gap: 40px;

        .rental-info__title-tags {
            grid-template-columns: 1fr;
            
            .rental-info__title-wrapper {
                gap: 10px;

                .rental-info__title {
                    font-size: 26px;
                }
                
                .rental-info__location {
                    font-size: 20px;
                }
            }
        }
        
        .rental-info__host-rating {
            grid-template-columns: 1fr;
            justify-items: start;
            gap: 20px;

            .rental-info__host-wrapper {
                display: flex;
                flex-direction: row-reverse;
                gap: 20px;

                .rental-info__host-name {
                    text-align: left;
                }
            }
        }
    }
}
@media (max-width: 576px) {

    .rental-info__container {

        .rental-info__title-tags {

            .rental-info__title-wrapper {

                .rental-info__title {
                    font-size: 20px;
                }

                .rental-info__location {
                    font-size: 14px;
                }     
            }
        }
    } 
}
    
    

