.rental-info__container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;

    .rental-info__title-tags {

        .rental-info__title-wrapper {
            color: var(--primary-color);
            margin-bottom: 20px;
            
            .rental-info__title {
                font-family: 'Montserrat';
                font-size: 36px;
                font-weight: 500;
            }

            .rental-info__location {
                font-family: 'Montserrat';
                font-size: 18px;
                font-weight: 500;
            }
        }

        .rental-info__tags-wrapper {
            display: flex;
            gap: 20px;
                
            .rental-info__tags {
                font-family: 'Montserrat';
                font-size: 16px;
                font-weight: 500;
                padding: 5px 15px;
                border-radius: 10px;
                background-color: var(--primary-color);
                color: var(--secondary-color)
            }
        }
    }

    .rental-info__host-rating {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .rental-info__host-wrapper {
            display: flex;
            justify-content: space-between;

            .rental-info__host-name {
                width : min-content;
                text-align: right;
                font-family: 'Montserrat';
                font-weight: 500;
                font-size: 18px;
                color: var(--primary-color);
            }

            .rental-info__host-picture {
                width: 64px;
                height: 64px;
                border-radius: 100%;
                object-fit: cover;
            }
        }
    }
}